# Binaries for programs and plugins
/bin/
*.exe
*.dll
*.so
*.dylib
*.test

# Build output
*.out
*coverage*.txt
coverage.out

# Go tool cache
.cache/
.gocache/
GOCACHE

# Dependency directories (remove the comment below if you are vendoring dependencies)
vendor/

# IDE/editor-specific files
.vscode/
.idea/
*.swp
*~

# Logs and temp files
*.log

# Local package artifacts
internal/assets/packages/
internal/assets/bin/
